*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

{
    color: aqua;
}

.btn-bt{
padding: 20px;
color: aqua;
background-color: black;
cursor: pointer;
border-radius: 20px;

}

.btn-bt:hover{
    background-color: rgb(23, 4, 78);
}

.btn{
    width: 200px;
    margin: auto;
margin-top: 10px;
font-size: 25x;
}